@import "../../responsive.scss";

.card {
    display: flex;
    gap: 20px;

    .image-container {
        flex: 2;
        height: 200px;

        @include small {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .text-container {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        img {
            width: 16px;
            height: 16px;
        }

        .title {
            font-size: 18px;
            font-weight: 600;
            color: #444;
            transition: all 0.4s ease;
            position: relative;
            img {
                position: absolute;
                right: 70px;
                top: 3px;
                cursor: pointer;
            }
            p {
                position: absolute;
                right: 70px;
                top: 3px;
                cursor: pointer;
                font-weight: normal;
                font-size: 14px;
            }

            &:hover {
                color: black;
                scale: 1.01;
            }
        }

        .address {
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 5px;
            color: #888;
        }

        .price {
            font-size: 18px;
            font-weight: 300;
            padding: 5px;
            border-radius: 5px;
            background-color: rgba(254, 205, 81, 0.438);
            width: max-content;
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            gap: 10px; //ở điện thoại tránh bị quá gần

            .user {
                text-align: center;
                position: relative;
                top: 5px;
            }

            .icons {
                display: flex;
                gap: 10px;
                padding-right: 90px;

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border: 1px solid #999;
                    border-radius: 5px;
                    padding: 5px 8px;

                    img {
                        margin-right: 5px;
                    }
                    &:hover {
                        background-color: lightgray;
                    }
                    &.heart {
                        p {
                            color: red;
                        }
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
