.container {
    width: 1260px;
    padding: 20px 60px;
    margin: 0 auto;
    border-radius: 5px;
    .content {
        display: flex;

        .left {
            flex: 3;
        }
        .right {
            flex: 1;
        }
    }
}
