@import '../../responsive.scss';

.slider{
    width: 100%;
    height: 350px;
    display: flex;
    gap: 20px;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
    }

    .full-slider{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;

        .arrow{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 50px;
                
                @include medium{
                    width: 30px;
                }

                @include small{
                    width: 20px;
                }

                &.right{
                    transform: rotate(180deg);
                }
            }

        }

        .full-image{
            flex: 10;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .close{
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            font-size: 36px;
            font-weight: bold;
            padding: 50px;
            cursor: pointer;

            @include small{
                width: 20px;
            }
        }
    }

    .big-image{
        flex: 3;

    }

    .small-images{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        img{
            height: 100px;
        }
    }
}